<section id="ministries-heading">
	<div class="container">
		<h2>Ministires at DNBC</h2>
		<p>Some text can go here</p>
	</p>
</section>

<section class="container" id="ministries-list">

	<div class="ministry">
		<div class="ministry-icon"><%= image_tag "/ministries/missions.png", width: '125px' %></div>
		<h2 class="underline">Missions</h2>
		<p>Missions has long been at the heart of the family here at DNBC, whether it is as a part of one of our regular activities such as Manna or serving at the Albuquerque Rescue Mission, being involved in one of our annual events like Sole-2-Soul, or joining us in our work with House of Hope in Nicaragua, there are plenty of opportunities to involved with sharing the love of Christ to the world around us here at DNBC.</p>
	</div>

	<div class="ministry">
		<div class="ministry-icon"><%= image_tag "/ministries/music.png", width: '125px' %></div>
		<h2 class="underline">Music</h2>
		<p>DNBC has a long tradition of excellence in worship and music. We have always sought to use music as a means to bring people closer to God. All of our musical groups focus their ministry on the grace and love that we experience as we grow, together, in our relationship with God, through faith in Jesus Christ.</p>
	</div>

	<div class="ministry">
		<%= image_tag "/ministries/children.png", width: '125px' %>
		<h2 class="underline">Preschool & Children</h2>
		<p>Our Children and Preschool Ministry is devoted to serving Christ through Sunday School, TeamKID, Bible Drill, Choir and special community outreaches just to name a few.  There is always a way for children to be involved here at DNBC.</p>
	</div>

	<div class="ministry">
		<div class="ministry-icon"><%= image_tag "/ministries/youth.png", width: '125px' %></div>
		<h2 class="underline">Students</h2>
		<p>Our student ministry is all about sharing Life Together and getting closer both to each other and to Jesus.  We have small group Bible studies, times of fellowship and worship, as well as times to go out and serve in our community.</p>
	</div>

	<div class="ministry">
		<div class="ministry-icon"><%= image_tag "/ministries/sam.png", width: '125px' %></div>
		<h2 class="underline">S.A.M. - Senior Adult Ministry</h2>
		<p>S.A.M. or senior adult ministry is geared toward our older members.  They enjoy great fellowship times every month at game day and game night, and go on trips together throughout the year. </p>
	</div>

	<div class="ministry">
		<div class="ministry-icon"><%= image_tag "/ministries/library.png", width: '125px' %></div>
		<h2 class="underline">Library</h2>
		<p>The library is a vital ministry of our church as it supports all ministries of the church as well as provide help and leisure reading to everyone.  There is something for everyone from birth to the oldest of the old. </p>
	</div>

	<div class="ministry">
		<div class="ministry-icon"><%= image_tag "/ministries/spanish.png", width: '125px' %></div>
		<h2 class="underline">Spanish</h2>
		<p>Our Spanish speaking ministry is a vital part of our church.  There are regular bible studies, a Sunday morning worship service and ESL classes.</p>
	</div>

	<div class="ministry">
		<div class="ministry-icon"><%= image_tag "/ministries/training.png", width: '125px' %></div>
		<h2 class="underline">Discipleship Training</h2>
		<p>Each semester classes are offered that pertain to special topics.  These classes are designed for those who want to go deeper in their study and application of the Bible.</p>
	</div>

	<div class="ministry">
		<div class="ministry-icon"><%= image_tag "/ministries/art.png", width: '125px' %></div>
		<h2 class="underline">Arts & Crafts</h2>
		<p>We have several groups at our church that meet regularly such as our quilters, a knitting group and the craft-gettogether.</p>
	</div>
</section>