<div id="sermon-form">
	<%= form_for @sermon, multipart: true, remote: true do |f| %>
		<h1>
			<%= @sermon.id == nil ? "New Sermon" : @sermon.name %>
		</h1>

		<%= f.text_field :name, placeholder: 'Name' %><br>
		<%= f.text_field :sermondate, placeholder: 'Sermon Date' %><br>
		
		<div id="select-sermon">Select Audio <span>None Selected</span></div>
		<div id="select-cover">Select Image <span>None Selected</span></div>

		<input type="file" name="files[]" id="sermon_files" multiple/>
		<%= f.file_field :image %>
		<%= f.file_field :audio %>

		<div id="s-<%= @sermon.id == nil ? 'create' : 'edit' %>"><%= @sermon.id == nil ? "Create" : "Save" %></div>
		
	<% end %>

	<div id="progress">
		<div class="bar-bg"></div>
		<div class="bar" style="width: 0%;"></div>
	</div>
</div>