<div id="sermon-screen"></div>

<div id="sermon-bg">
	<div id="current-sermon-wrap">
		<div id="current-sermon">
			<%= @sermons[0].embed_html5({
					:class => 'video-player', 
					:id => 'sermon-player',
					:width => '560',
					:height => '315',
					:frameborder => '0', 
					:controlls => '0',
					fullscreen: true,
			}).html_safe %>
		</div>
	</div>
</div>

<div id="current-sermon-name">
	<b>Now Playing:</b> <%= @sermons[0].title %>
</div>

<div id="sermon-list">

	<div class="container">
		<% @sermons.each_with_index do |s| %>
			<div class="sermon-listing" id="<%= s.unique_id %>">
				<div class="top-color"><%= image_tag s.thumbnails[2].url %></div>
				<div class="sermon-thumb">
					<%= image_tag s.thumbnails[2].url %>
				</div>
				<div class="sermon-title"><h4><%= s.title %></h4></div>
				<div class="float-clear"></div>
			</div>
		<% end %>
	</div>

</div>


<%= image_tag "data:image/jpeg;base64,#{@image}", id: "s-bg-image", width: "800px", height: '800px', onload: "initblur()" %>
<canvas id="sermon-canvas" width="800px" height="800px">
</canvas>