<div id="sermon-screen"></div>

<div id="sermon-bg">
	<div id="current-sermon-wrap">
		<div id="current-sermon">
			<%= @sermons[0].video.embed_html.html_safe %>
		</div>
	</div>
</div>

<div id="current-sermon-name">
	<b>Now Playing:</b> <%= @sermons[0].video.title %>
</div>

<div id="sermon-list">

	<div class="container">
		<% @sermons.each_with_index do |s| %>
			<div class="sermon-listing" id="<%= s.video_id %>">
				<div class="top-color"><%= image_tag s.thumbnail_url %></div>
				<div class="sermon-thumb">
					<%= image_tag s.thumbnail_url %>
				</div>
				<div class="sermon-title"><h4><%= s.title %></h4></div>
				<div class="float-clear"></div>
			</div>
		<% end %>
	</div>

</div>


<%= image_tag "data:image/jpeg;base64,#{@image}", id: "s-bg-image", width: "800px", height: '800px', onload: "initblur()" %>
<canvas id="sermon-canvas" width="800px" height="800px">
</canvas>