<header>
	<div class="container">
		<div id="logo">
			<%= image_tag 'logo.png', width: '300px' %>
		</div>

		<nav>
			<%= link_to 'Sermons' %>
			<%= link_to 'Ministries' %>
			<%= link_to 'Blog' %>
			<%= link_to 'Koinonia' %>
		</nav>
	</div>
</header>

<section id="welcome">
</section>

<section id="welcome-msg">
	<div class="container">
		<div class="column-8 shift-2">
			<h1>A Word From Pastor Brad</h1>
			<p>Sed a lorem quis neque interdum consequat ut sed sem. Duis quis tempor nunc. Interdum et malesuada fames ac ante ipsum primis in faucibus. Praesent id tempor ipsum. Fusce at massa ac nunc porta fringilla sed eget neque. Quisque quis pretium nulla. Fusce eget bibendum neque, vel volutpat augue. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
		</div>
	</div>
</section>

<section id="info">
	<div class="container">
		<div class="info-blurb column-4">
			<div class="info-icon"><i class="fa fa-clock-o"></i></div>
			<h2>Sermons</h2>
			<p>Check out our sermons. Sed a lorem quis neque interdum consequat ut sed sem. Duis quis tempor nunc. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
		</div>
		<div class="info-blurb column-4">
			<div class="info-icon"><i class="fa fa-clock-o"></i></div>
			<h2>Sermons</h2>
			<p>Check out our sermons. Sed a lorem quis neque interdum consequat ut sed sem. Duis quis tempor nunc. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
		</div>
		<div class="info-blurb column-4">
			<div class="info-icon"><i class="fa fa-clock-o"></i></div>
			<h2>Sermons</h2>
			<p>Check out our sermons. Sed a lorem quis neque interdum consequat ut sed sem. Duis quis tempor nunc. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
		</div>
	</div>
</section>

<section id="ministries">
	<div id="ministries-head"><b>Get Involved</b><br>At DNBC there are plenty of ministires ..... stuff</div>
</section>

<section id="space">
</section>