
<% if @show_popup %>
	<section class="popup-wrapper" id="popup">
		<div class="popup">
			<div class="popup-header">
				<a class="close-popup"><i class="fa fa-times-circle" aria-hidden="true"></i> Close</a>
				<h4>Watch Our Live Service:</h4>
			</div>
			<div class="video-wrap">
				<%= @sermon.video.embed_html.html_safe %>
				<%# <iframe src="https://www.youtube.com/embed/f5RH96_qYY4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> %>
			</div>
		</div>
	</section>
<% else %>
	<!--
	<section class="popup-wrapper" id="christmas-camp">
		<div class="popup christmas-camp">
			<div class="popup-header">
				<a class="christmas-close-popup"><i class="fa fa-times-circle" aria-hidden="true"></i> Close</a>
			</div>
			<div class="christmas-content">
				<h1>Join us for Christmas Camp</h1>
				<h2>Friday, December 10th, 6-9pm<br>All ages through 6th grade.</h2>
				<p>This is a wonderful chance for children to learn more about the true reason behind Christmas. Kids will have pizza, make crafts, hear the Christmas story, play games, have cupcakes, and sing Happy Birthday to Jesus. This is a one-night event, and a great time to connect and spread the joy of Christmas.</p>
				<%= link_to 'Register', 'https://kideventpro.lifeway.com/myEvent/?id=60807', class: 'register-now' %>
			</div>
		</div>
	</section>
	-->
<% end %>


<!--
<section class="vbs-popup-wrapper" id="popup">
	<div class="vbs-popup">
		<a class="close-popup">Close</a>
		<div>
			<%= image_tag "vbs_2021.png", width: "50%" %>
		</div>
		<div>
			<h2>VBS is almost here!</h2>
			<p>July 12th - 16th, 9:00am - 12:15pm</p>
			<%= link_to 'Register for VBS today!', 'https://kideventpro.lifeway.com/myEvent/?id=59892', class: 'register-now' %>
		</div>
	</div>
</section>
-->

<section id="welcome">
	<div id="welcome-content" class="container">
		<div class="column-8 shift-2">
			<%= image_tag 'compass.png' %>
			<h1>Welcome to Del Norte</h1>
			<%# <p>Ministry. Missions. Movers.</p> %>
			
			<p>We are a united body of believers committed to grow in Christ and reach others for Christ.</p>
			<%= link_to "Learn More", "#", id: "learn-more" %> <%= link_to "Latest Sermon", "https://youtu.be/#{@sermon.video.id}", target: "_blank", class: "latest-sermon" %>
		</div>
	</div>
	<div id="arrow-down"><i class="fa fa-angle-double-down"></i></div>
</section>

<section id="welcome-msg">
	<div class="container">
		<div class="column-8 shift-2">
			<h1 class="fancy-underline">Welcome!</h1>
			<p>Thank you so much for visiting our church family web-site. You will see that we are a church family that believes strongly in the whole truth of the Word of God. We believe in reaching out to all people. Why? Because all people are welcomed and desired in the family of God and DNBC is a great example of that fellowship. We strive to focus on biblical discipleship, loving outreach, kingdom building work. We are not a perfect family. Our Father has saved and redeemed us all out of the pit of sin. We are a family made up of individuals that desperately needed the grace and love of Christ in our lives. Though each of our testimonies is quite unique, they all end with the saving grace of Jesus!  So when you look through our site and come and visit our family at DNBC you will visit a family that is totally reliant on our Lord and Savior Jesus Christ. Once again, thank you for showing interest in our church family. We are blessed by your coming. </p>
		</div>
	</div>
</section>


<% if !@alert.nil? && @alert.active %>
	<section id="alert">
		<div class="container">
			<i class="fa fa-exclamation-triangle"></i><br>
			<b><%= @alert.name %></b>
			<p><%= @alert.description %></p>
		</div>
	</section>
<% end %>


<section id="info">
	<h1 class="fancy-underline">Join Us on Sunday</h1>

	<div class="container">
		<div class="info-blurb column-4">
			<div class="info-icon"><i class="fa fa-group"></i></div>
			<h2 class="underline">Services</h2>
			<p>
				8:30am – Led by our choir and orchestra<br>
				11am – Led by our Praise Team
			</p>
		</div>
		<div class="info-blurb column-4">
			<div class="info-icon"><i class="fa fa-globe"></i></div>
			<h2 class="underline">Spanish Service</h2>
			<p>Upstairs in Room 230 at 11am.<br><a href="https://ibdnabq.org">Más información</a></p>
		</div>
		<div class="info-blurb column-4">
			<div class="info-icon"><i class="fa fa-book"></i></div>
			<h2 class="underline">Bible Study</h2>
			<p>Classes for any and every age group at 9:45am.</p>
		</div>
		<%# <div class="info-blurb column-4">
			<div class="info-icon"><i class="fa fa-book"></i></div>
			<h2 class="underline">Bible Study</h2>
			<p>Our Bible Study classes have moved online! Contact us for more information.</p>
		</div> %>
	</div>
</section>


<section id="blog">
	<h2>Pastor's Blog</h2>
	<%= link_to "Read Now", "/blog" %>
</section>


<section id="ministries">
	<h2>Get Involved</h2><p>There are so many things to be a part of at DNBC. We would love for you to come and join us as we serve, worship, fellowship and live life together.</p>
	<%= link_to "Learn More", "/ministries" %>
</section>

<!--
<section id="prayer">
	<h2>Need Prayer?</h2><p>We would love to pray for you or a loved one. Submit a prayer request and join us on Wednesday nights at 6:30 for a time of prayer.</p>
	<%= link_to "Submit Request", "/prayer" %>
</section>
-->


<!--
<section id="announcements">
	<h1 class="fancy-underline">Upcoming Events</h1>
	<p>Announcements / Upcoming events will go here</p>
</section>
-->


<section id="staff">
	<h1 class="fancy-underline">Our Staff</h1>
	<div class="container">

		<div class="staff column-3">
			<div class="staff-image">
				<%= image_tag "staff/michael.jpg", width: "180px" %>
				<%= image_tag "staff_mask.png", width: "180px", class: "staff-mask" %>
			</div>
			<h2 class="underline">Michael Vallandingham</h2>
			<p>Senior Pastor</p>
			<%= mail_to "pastor@dnbc.org", raw('<div class="staff-email"><i class="fa fa-envelope"></i></div>') %>
		</div>

		<div class="staff column-3">
			<div class="staff-image">
				<%= image_tag "staff/kevin.jpg", width: "180px" %>
				<%= image_tag "staff_mask.png", width: "180px", class: "staff-mask" %>
			</div>
			<h2 class="underline">Kevin Warner</h2>
			<p>Growth Pastor</p>
			<%= mail_to "kevin@dnbc.org", raw('<div class="staff-email"><i class="fa fa-envelope"></i></div>') %>
		</div>

		<div class="staff column-3">
			<div class="staff-image">
				<%= image_tag "staff/ira.jpg", width: "180px" %>
				<%= image_tag "staff_mask.png", width: "180px", class: "staff-mask" %>
			</div>
			<h2 class="underline">Ira Pinkston</h2>
			<p>Worship Pastor</p>
			<%= mail_to "ira@dnbc.org", raw('<div class="staff-email"><i class="fa fa-envelope"></i></div>') %>
		</div>

		<div class="staff column-3">
			<div class="staff-image">
				<%= image_tag "staff/syd.jpg", width: "180px" %>
				<%= image_tag "staff_mask.png", width: "180px", class: "staff-mask" %>
			</div>
			<h2 class="underline">Sydney Turrieta</h2>
			<p>Children's Minister</p>
			<%= mail_to "sydney@dnbc.org", raw('<div class="staff-email"><i class="fa fa-envelope"></i></div>') %>
		</div>

		<div class="staff column-3">
			<div class="staff-image">
				<%= image_tag "staff/adam.jpg", width: "180px" %>
				<%= image_tag "staff_mask.png", width: "180px", class: "staff-mask" %>
			</div>
			<h2 class="underline">Adam Nash</h2>
			<p>Student Pastor</p>
			<%= mail_to "adam@dnbc.org", raw('<div class="staff-email"><i class="fa fa-envelope"></i></div>') %>
		</div>

		<div class="staff column-3">
			<div class="staff-image">
				<%= image_tag "staff/roy.jpg", width: "180px" %>
				<%= image_tag "staff_mask.png", width: "180px", class: "staff-mask" %>
			</div>
			<h2 class="underline">Roy Rosales</h2>
			<p>Hispanic Pastor</p>
			<%= mail_to "roy@dnbc.org", raw('<div class="staff-email"><i class="fa fa-envelope"></i></div>') %>
		</div>

		<div class="staff column-3">
			<div class="staff-image">
				<%= image_tag "staff/judy.jpg", width: "180px" %>
				<%= image_tag "staff_mask.png", width: "180px", class: "staff-mask" %>
			</div>
			<h2 class="underline">Judi Hain</h2>
			<p>Administrator</p>
			<%= mail_to "judi@dnbc.org", raw('<div class="staff-email"><i class="fa fa-envelope"></i></div>') %>
		</div>
	</div>

</section>


<section id="contact">
	<h1 class="fancy-underline">Contact Us</h1>

	<div class="container">
		<div class="column-3 contact-card">
			<i class="fa fa-clock-o"></i>
			<h2 class="underline">Office Hours</h2>
			<p>M-Th: 8:30am – 4:30pm<br>Closed for Lunch 12-1</p>
		</div>
	
		<div class="column-3 contact-card">
			<i class="fa fa-map-marker"></i>
			<h2 class="underline">Address</h2>
			<p><a href="https://goo.gl/maps/cAO6D">5800 Montgomery Blvd<br>
			Albuquerque, NM 87109</a></p>
		</div>

		<div class="column-3 contact-card">
			<i class="fa fa-phone"></i>
			<h2 class="underline">Phone</h2>
			<p>(505) 881-9711</p>
		</div>

		<div class="column-3 contact-card">
			<i class="fa fa-envelope"></i>
			<h2 class="underline">Email</h2>
			<p>dnbc@dnbc.org</p>
		</div>
	</div>
</section>

<script>
	// const wrapper = '.vbs-popup-wrapper'
	const wrapper = '.popup-wrapper'

	// $(document).ready(function() {
	// 	if (sessionStorage.getItem('vbs:seen')) { return; }

	// 	setTimeout(function() {
	// 		$('.vbs-popup-wrapper').addClass('visible');

	// 		sessionStorage.setItem('vbs:seen', true);

	// 		setTimeout(function() {
	// 			$('.vbs-popup-wrapper').addClass('shown');
	// 		}, 100);
	// 	}, 100);

	// 	$('.vbs-popup-wrapper').click(function() {
	// 		$('.vbs-popup-wrapper').removeClass('shown');
	// 		setTimeout(function() {
	// 			$('.vbs-popup-wrapper').removeClass('visible');
	// 		}, 200)
	// 	})
	// })

	<% if @show_popup %>
		$(document).ready(function() {
			if (sessionStorage.getItem('popup:seen')) {
				document.getElementById('popup').remove();
				popup.parentElement.remove(popup);
			}

			// const today = new Date()
			// const utcDay = today.getUtcDay()
			// const utcTime = 

			setTimeout(function() {
				$(wrapper).addClass('visible');

				sessionStorage.setItem('popup:seen', true);

				setTimeout(function() {
					$(wrapper).addClass('shown');
				}, 100);
			}, 100);

			$('.close-popup').click(function() {
				$(wrapper).removeClass('shown');
				setTimeout(function() {
					// $(wrapper).removeClass('visible');
					document.getElementById('popup').remove();
					// popup.parentElement.remove(popup);
				}, 200)
			})
		})
	<% else %>
		// $(document).ready(function() {
		// 	if (sessionStorage.getItem('popup:seen')) {
		// 		document.getElementById('christmas-camp').remove();
		// 		popup.parentElement.remove(popup);
		// 	}

		// 	setTimeout(function() {
		// 		$(wrapper).addClass('visible');

		// 		sessionStorage.setItem('popup:seen', true);

		// 		setTimeout(function() {
		// 			$(wrapper).addClass('shown');
		// 		}, 100);
		// 	}, 100);

		// 	$('.christmas-close-popup').click(function() {
		// 		$(wrapper).removeClass('shown');
		// 		setTimeout(function() {
		// 			// $(wrapper).removeClass('visible');
		// 			document.getElementById('christmas-camp').remove();
		// 			// popup.parentElement.remove(popup);
		// 		}, 200)
		// 	})
		// })
	<% end %>
</script>