<ul>
	<!--<li><%= link_to 'Sermons', 'https://www.youtube.com/playlist?list=PLZLN8ggsIxePmqamBkTYJEYHY-3sgenkQ' %></li>-->
	<li><%= link_to 'Sermons', '/sermons' %></li>
	<li><%= link_to 'Ministries', '/ministries' %></li>
	<li><%= link_to 'Blog', '/blog' %>
	<li><%= link_to 'Calendar', '/calendars' %></li>
	<li><%= link_to 'Koinonia', '/koinonia' %></li>
	<li><%= link_to 'Contact', '/contact' %></li>
	<li><%= link_to 'Give', 'https://onrealm.org/DelNorteBaptist/give/now', target: '_blank' %></li>
	<% if admin_signed_in? %>
		<li><%= link_to 'Admin', '/dashboard' %></li>
	<% end %>
	<li class="vbs-reg learn-more"><%= link_to 'VBS', 'https://kideventpro.lifeway.com/myEvent/?id=59892' %> 
</ul>