<ul>
	<!--<li><%= link_to 'Sermons', 'https://www.youtube.com/playlist?list=PLZLN8ggsIxePmqamBkTYJEYHY-3sgenkQ' %></li>-->
	<li><%= link_to 'Sermons', '/sermons' %></li>
	<li><%= link_to 'Ministries', '/ministries' %></li>
	<li><%= link_to 'Calendar', '/calendars' %></li>
	<li><%= link_to 'Koinonia', '/koinonia' %></li>
	<% if admin_signed_in? %>
		<li><%= link_to 'Admin', '/dashboard' %></li>
	<% end %>
</ul>