<!DOCTYPE html>
<html>
<head>
	<title>Del Norte Baptist Church</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<%= stylesheet_link_tag    'application', media: 'all' %>
	<%= javascript_include_tag 'application' %>
	<%= csrf_meta_tags %>
	<link href='http://fonts.googleapis.com/css?family=Varela' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Roboto:100,300' rel='stylesheet' type='text/css'>
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js"></script>
	<meta property="og:image" content="<%= asset_path 'og1.jpg' %>" />

	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-58403652-1', 'auto');
		ga('send', 'pageview');
	</script>
	
</head>
<body>
	<header>
		<div class="container">
			<div id="logo">
				<%= link_to image_tag('logo.png', width: '240px', id: 'logo-norm'), '/' %>
				<%= link_to image_tag('logo_mobile.png', height: '40px', id: 'logo-mob'), '/' %>
			</div>

			<nav>
				<%= render 'layouts/links' %>
				<a id="nav-trigger"><i class="fa fa-bars"></i></a>
			</nav>
		</div>
	</header>

	<nav id="slideout">
		<%= render 'layouts/links' %>
	</nav>

	<div id="nav-screen"></div>

	<%= yield %>

	<footer>
		<%= image_tag 'compass_light.png' %>
	</footer>

</body>
</html>
