<!DOCTYPE html>
<html>
<head>
	<title>Del Norte Baptist Church</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<%= stylesheet_link_tag    'application', media: 'all' %>
	<%= javascript_include_tag 'application' %>
	<%= csrf_meta_tags %>
	<link href='http://fonts.googleapis.com/css?family=Varela' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Roboto:100,300' rel='stylesheet' type='text/css'>
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>

	<header>
		<div class="container">
			<div id="logo">
				<%= link_to image_tag('logo.png', width: '240px', id: 'logo-norm'), '/' %>
				<%= link_to image_tag('logo_mobile.png', height: '40px', id: 'logo-mob'), '/' %>
			</div>

			<nav>
				<%= render 'layouts/links' %>
				<a id="nav-trigger"><i class="fa fa-bars"></i></a>
			</nav>
		</div>
	</header>

	<nav id="slideout">
		<%= render 'layouts/links' %>
	</nav>

	<div id="nav-screen"></div>

	<%= yield %>

</body>
</html>
