<%= render template: "layouts/application" %>	

<div id="dash-wrap">

	<div class="container" id="dashboard">
		
		<div id="dash-links" class="column-3">
			<div id="dash-links-top"></div>
			<ul>
				<li><%= link_to 'Analytics', '' %></li>
				<li><%= link_to 'Koinonia', '/dashboard/koinonia' %></li>
				<li><%= link_to 'Calendar', '/dashboard/calendars' %></li>
				<!-- <li><%= link_to 'Staff', '' %></li> -->
				<li><%= link_to 'Sermons', '/dashboard/sermons' %></li>
				<li><%= link_to 'Alert', '/dashboard/alert' %></li>
			</ul>
			<div id="dash-links-bottom"></div>
		</div>
		

		<section id="dash-content" class="column-9">
			<%= yield :dash %>
		</section>
	</div>
</div>

<script>
	$('footer').hide();
</script>